body {
    font-family: sans-serif;
    background-color: darkred;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color: #e1b027;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 220px;
}

