body {
    font-family: sans-serif;
    background: linear-gradient( -90deg , #a64131, darkred, #a64131);
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 232%;
    color: #e1b027;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 220px;
}

